page-login {

  .image{
    display: block;
    margin-left: auto;
    max-width: 50%;
    margin-right: auto;
    padding: 30px;
  }
  #bg{
    color: #00416f;
  }

  div #footer{
    margin:50% auto 0;
  }
  p{
    text-align: center;
    font-size: 1.1em;
    color: #bdbdbd;
  }
}
