page-login {

  .image{
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
  #bg{
    background: #00416f;
    color: #fff;
  }

  div #footer{
    margin:50% auto 0;
  }
  p{
    text-align: center;
    font-size: 1.1em;
    color: #bdbdbd;
  }
}
