page-home {

  #btn-lg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }

  .header-bg{
    background: #e2b102;
  }

  .check-input {
    background: transparent;
    border: none;
  }

  .img-bg {
    //background-image: url("../../assets/blue_and_red.jpg");
    color: #e2de1b;
    text-align: center;
    font-family: "Segoe UI", "Noto Sans", sans-serif;
  }
}
